<h1>Results</h1>
<p>
	<script type='text/vbscript'>
	<%= @uploaded_file_text %>
	Dim expectedValue
	Dim actualValue
	expectedValue = 3
	actualValue = SilverChallenge()
	document.write("Expected value: "&expectedValue&"<BR>")
	document.write("Actual value: "&actualValue&"<BR>")
	If expectedValue = actualValue Then
	document.write("Result: PASS")
	Else
	document.write("Result: FAIL")
	End If
	</script>
</p>
<%= link_to('Submit again',silver_submit_path)%>
