<script type="text/vbscript">
<%= File.read('res/november/gold/testcase.vbs').html_safe %>
</script>
<script type="application/javascript">
testAdd = function(){
connect_four.add(1,5,"black");
};
</script>
<div>
	<h1 id="info_txt" style="text-align: center;display: none;"></h1>
</div>
<div style="text-align: center;">
<canvas id="board" width="700" height="600" style="z-index: 1;">
	<canvas id="block" width="100" height="100"></canvas>
</canvas>
</div>
