<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A comment has been updated</h1>
    <p>
      A commment has been updated on the <%= @old_comment.month.capitalize %> <%= @old_comment.league.capitalize %> Challenge! <br> 
      Comment author: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>.<br/>
	
	Old Comment: <%# @old_comment.comment %>
	New Comment: <%# @new_comment.comment %>
    </p>
    
  </body>
</html>
