<%= link_to november_gold_path, class: 'challenge_link' do %> <h1 class="bigtitle text-right"><font color="gold">Gold</font> Challenge</h1>
<% end %>
<%= link_to november_silver_path, class: 'challenge_link' do %>
<h1 class="bigtitle text-right"><font color="silver">Silver</font> Challenge</h1>
<% end %>
<%= link_to november_bronze_path, class: 'challenge_link' do %>
<h1 class="bigtitle text-right"><font color="brown">Bronze</font> Challenge</h1>
<% end %>
