<h1>Orasi Coding Challenge - October</h1>
<%= link_to("Bronze",october_bronze_path)%>
<%= link_to("Silver",october_silver_path)%>
<%= link_to("Gold",october_gold_path)%>
<%= link_to("New User",new_user_path)%>
