<div id='hangout' style="padding-top:40px;width:100%;text-align:center">
 <iframe width="640" height="360" src="//www.youtube.com/embed/J9GNIn7iyCk?autoplay=1" frameborder="0"  allowfullscreen style="margin:auto"></iframe>
</div>
<div id="rulesSection" width="100%" style="text-align:center;margin-top:50px">
<%= link_to "Orasi Code Challenge Rules", "rules", "class" => "btn btn-lg btn-primary" %>
</div>
