<h1>Orasi Coding Challenge Rules</h1>
	<ul style="margin-top:50px">
		<li style="margin-top:20px">
			Submissions are due by midnight on the last day of the month.  Any Challenges received after this deadline will not be eligible for competition in the monthly or season competitions.
		</li>
		<li style="margin-top:20px">
			Submissions must be in the form of either a function or a class, as indicated by the challenge write up.  The function/class name should be in the format FirstnameLastName as indicated in your Orasi Email Address.  Any variation from this naming scheme will result in errors during the automatic grading process.
		</li>
		<li style="margin-top:20px">
			Automatic grading is done for each challenge.  Upon subimssion you should see a either a screen giving grading results, or a message that automatic grading is not in place for this challenge.  If you do not see these screens there is an error.  If you are having a hard time getting a script to work with the automatic grading please post a question in the comments section of the challenge website.  A Code Challenge Admin who can see your submission will help you troubleshoot.  Please check for obvious syntax errors before asking for assistance.
		</li>
		<li style="margin-top:20px">
			The Monthly Coding Challenge is designed to facilitate learning about coding practices and approaches.  As such it is not tied exclusively to QTP/UFT.  Although QTP/UFT can be used for writing your code please do not use any functions that are only available in QTP/UFT.  Some such functions are:git st
			<ul>
				<li>
					Reporter.ReportEvent
				</li>
				<li>
					RandomNumber
				</li>
				<li>
					Wait
				</li>
			</ul>
		</li>
		<li style="margin-top:20px">
			Use of objects are acceptable for submissions, however instantiating these objects can cause problems with Internet Explorer security settings.  Please ensure that IE settings are at the lowest setting for the Code Challenge website before trying to submit submissions which instantiate .Net or other objects.   This does not apply to objects that are defined inside the submission.
		</li>
		<li style="margin-top:20px">
			Use of helper functions are allowed for submissions, but to ensure there is no namespace conflicts please include your name or initials in the name of any helper functions.  An appropriate helper function name might be RemoveVowels_MW.
		</li>
	</ul>
	