<div id="content">
	<div id="mainContent">
		<section>
			<article class="blogPost">

				<header>
					<h1>Greatest Common Divisor</h1><a href=#comments>Comments</a>
				</header>
				
				<iframe src="https://docs.google.com/viewer?srcid=0ByiedtMqH31-ZzEwV1J0eDBOUlk&pid=explorer&embedded=true" width="800" height="1024"></iframe>

			</article>
		</section>
		<section id="comments">
			<h3>Comments</h3>
			<article>
				<header>
					<a href="#">George Washington</a> on
					<time datetime="2009-06-29T23:35:20+01:00">
						June 29th 2009 at 23:35
					</time>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
				</p>
			</article>
			<article>
				<header>
					<a href="#">Benjamin Franklin</a> on
					<time datetime="2009-06-29T23:40:09+01:00">
						June 29th 2009 at 23:40
					</time>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
				</p>
			</article>
			<article>
				<header>
					<a href="#">Barack Obama</a> on
					<time datetime="2009-06-29T23:59:00+01:00">
						June 29th 2009 at 23:59
					</time>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
				</p>
			</article>
		</section>
		<form action="#" method="post">
			<h3>Post a comment</h3>
			<p>
				<label for="name">Name</label>
				<input name="name" id="name" type="text" required />
			</p>
			<p>
				<label for="email">E-mail</label>
				<input name="email" id="email" type="email" required />
			</p>
			<p>
				<label for="website">Website</label>
				<input name="website" id="website" type="url" />
			</p>
			<p>
				<label for="comment">Comment</label>
				<textarea name="comment" id="comment" required></textarea>
			</p>
			<p>
				<input type="submit" value="Post comment" />
			</p>
		</form>
	</div>
	<aside>
		<%= render template: 'layouts/submit' %>

	</aside>
</div>