
<!doctype html>
<html lang="en">
<head>
	<title>Orasi Monthly Code Challenge</title>
	<link rel="stylesheet" href="master.css" type="text/css" media="screen" />
</head>
<style type="text/css">
select {height: 20; width: 100; max-height: 12}
</style>
<body>

	<header>
		<h1>Orasi Monthly Coding Challenge</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#">Bronze League</a></li>
			<li><a href="#">Silver League</a></li>
			<li><a href="#">Gold League</a></li>
			<li><select id="month">
				<option>June</option>
				<option>July</option>
				<option>August</option>
				<option>September</option>
				<option selected="selected">October</option>
			</select>
</li>
		</ul>
	</nav>
	
	<div id="content">
		<div id="mainContent">
			<section>
				<article class="blogPost">
					
					<header>
						<h1>Greatest Common Divisor</h1>     <a href=#comments>Comments</a>
					</header>
						
					
						<embed src="SilverLeagueOctober2013.pdf #zoom=100" width=600 height=600 />

				</article>
			</section>
			<section id="comments">
				<h3>Comments</h3>
				<article>
					<header>
						<a href="#">George Washington</a> on <time datetime="2009-06-29T23:35:20+01:00">June 29th 2009 at 23:35</time>
					</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
				</article>
				<article>
					<header>
						<a href="#">Benjamin Franklin</a> on <time datetime="2009-06-29T23:40:09+01:00">June 29th 2009 at 23:40</time>
					</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
				</article>
				<article>
					<header>
						<a href="#">Barack Obama</a> on <time datetime="2009-06-29T23:59:00+01:00">June 29th 2009 at 23:59</time>
					</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
				</article>
			</section>
			<form action="#" method="post">
				<h3>Post a comment</h3>
				<p>
					<label for="name">Name</label>
					<input name="name" id="name" type="text" required />
				</p>
				<p>
					<label for="email">E-mail</label>
					<input name="email" id="email" type="email" required />
				</p>
				<p>
					<label for="website">Website</label>
					<input name="website" id="website" type="url" />
				</p>
				<p>
					<label for="comment">Comment</label>
					<textarea name="comment" id="comment" required></textarea>
				</p>
				<p><input type="submit" value="Post comment" /></p>
			</form>
		</div>
		<aside>
			<section>
				<header>
					<h3>Submission</h3>
				</header>
				<button> Select File</button>
				<button> Submit </button>
				C:\Scripts\SilverChallengeOctober.qfl
			</section>
			
		</aside>
	</div>
	
	
</body>
</html>
