<div id="content">
	<iframe src="https://docs.google.com/viewer?srcid=0ByiedtMqH31-ZzEwV1J0eDBOUlk&pid=explorer&embedded=true" width="800" height="1024"></iframe>
</div>
<%= render template: 'layouts/submit' %>