<div class="results">
  <span>Your string: <h4 class="submission-string"></h4></span>
  <span id="init-actor"></span>
  <div class="loader" style="margin: 100px auto;"></div>
</div>
<%= javascript_include_tag "movies" %>
