// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#submit-header-panel{
  #non-ie-warning{
    display: none;
  }
  #submitButtonPanel{
    label,input{
       margin: 10px;
    }
    #fileButton{
      display: none;
    }
  }
}
h4.msg{
  &.fail{
    color: red;
  }
  &.pass{
    color: green;
  }
}
#challenge-winner-links{
  a{
    display:block;
  }
}
#challenge-description
{
  &>div{
    display: inline-block;
    &>iframe{
      min-width: 100%;
    }
    @media (min-width: 768px) {
      &>iframe{
        min-width: 650px;
      }
    }
  }
  #submitPanel{
    margin: 50px;
    vertical-align: top;
    display: inline-block;
    max-width: 350px;
  }
}
.test-case{
  div{
    span{
      display:block;
    }
  }
}
div.movie{
  display: inline-block;
  max-width: 200px;
  text-align: center;
  padding: 10px;

  img.movie-poster{
    height: 200px;
  }
  span.actor-name{
    display:block;
  }
}
