{  
    margin: 0;  
    padding: 0;  
}  
  
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  
 #fade_in{	opacity:0;
            -webkit-transition: opacity 0.5s ease-in; //for chrome, safari
            -moz-transition: opacity 0.5s ease-in; //for mozilla firefox
            -o-transition: opacity 0.5s ease-in; //for opera
		transition: opacity 0.5s ease-in;        
}
  #visible{
            opacity: 1;

  }
  #notVisible{

      opacity: 0;
  }
 #fade_out{	opacity:1;
            -webkit-transition: opacity 0.5s ease-in; //for chrome, safari
            -moz-transition: opacity 0.5s ease-in; //for mozilla firefox
            -o-transition: opacity 0.5s ease-in; //for opera
		transition: opacity 0.5s ease-in;        
}

#fade_in.fade-in
{

    opacity:1;
}

#fade_out.fade-out
{
    opacity:0;
}
body {  
    margin: 0 auto;  
    width: 940px;  
    font: 13px/22px Georgia, Arial, sans-serif;
    color:#1D62A3;  
    background: #f0f0f0;

}

  
h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  
  
h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  
  
p {  
    padding-bottom: 22px;  
}  
a {
	color: #1D62A3;
}
nav{
	position: absolute;
	height: 40px;
	vertical-align: 0;
	text-align: center;
	left: 0;
	width:100%;
	background: #1D62A3;
}  
nav ul{
	margin: 0 auto;
	width:940px;
	list-style: none;
}
#navbar1 li{
    float:left;
}
#navbar2 li{
    float: right;
}
nav ul li {
    display: inline;
}

    nav ul li p,nav ul li a, nav ul li select{
                       margin-top: 0;
        margin-right: 20px;
        width: 140px;
        font-size: 14px;
        font-weight:900;
        line-height: 44px;
        text-align: center;
        vertical-align:top;
        text-decoration: none;
        color: #f0f0f0;
    }
    /*nav ul li a {
        display: block;  
        margin-right: 20px;  
        width: 140px;  
        font-size: 14px;  
	font-weight:900;
        line-height: 44px;  
        text-align: center;
	*//*vertical-align:center;*//*
        text-decoration: none;  
        color: #f0f0f0;  
}
*/
    nav ul li select{
        color: #1D62A3;
	position: absolute;
	bottom: 20px;
	margin-top:5px;
	
}

        nav ul li a:hover {  
            color: #fff;  
		font-weight: 900;
        }  
  
        nav ul li.selected a {  
            color: #fff;  
        }  
  
       .inputform{
		width:200px;	
}
/*#intro {
    margin-top: 66px;  
    padding: 44px;  
    background: #467612 url("test.png") top left  repeat-x;
 background-size: 100%;
    border-radius: 50px;
}  
#intro h2, p{
    width: 336px;  
}  
  
#intro h2 {  
    padding: 0 0 22px 0;  
    font-weight: normal;  
    color: #fff;  
}  
  
#intro p {  
    padding: 0;  
    color: #d9f499;  
}*/
#challengeRow{

    vertical-align: top;
}
#challengeHeader{
    margin-top: 0;
    display:table;
    color: #1D62A3;
    width: 100%;
}
#challengeTitle{
    vertical-align: middle;
    display: table-cell;
    float: left;
}
#commentCount{
    vertical-align: middle;
    display: table-cell;
    color: #1D62A3;
    text-decoration: underline;
    float: right;
}
#content {  
    display: table;  
}  
  
    #mainContent {  
        display: table-cell;  
        width: 620px;  
        padding-right: 22px;
        vertical-align:top;
    }

  
    aside {
        vertical-align:top;

        display: table-cell;  
        width: 500px;
    }
    aside h3{
    padding-top: 0;
    text-align: center;
    }
.button-link{
	display:block;
	width:50px;
	height:20px;
	margin-top:20px;   
	margin-left:50px;
	text-align:center; 
	padding: 10px 15px;
    	background: #4479BA;
    	color: #FFF;
	text-decoration: none;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
transition-duration: 0.2s;
user-select:none;
}
.button-link:hover, .button-link:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
    aside div{
	display: table;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
aside button{
	margin-top:0px;
	margin-left:70px;
}
aside div button{
	display: table-cell;
}
aside header{
	margin-top:40px;
}
#content{
    display: table;
         }
#mainContent{
    display: table-cell;
}
#submitPanel{
    vertical-align:top;
    display: table-cell;
}
/*
.blogPost{
    */
/* Column-count not implemented yet *//*

    column-count: 2;
    margin-top: 40px;  
  
    */
/* Column-gap not implemented yet *//*

    column-gap: 22px;  
      
}  
  
    */
/*.blogPost header {
        column-span: all;  
    } *//*

.blogPost img {  
    margin: 22px 0;  
*/
    }

#comments{
    display: table-row;
}
section#comments article:nth-child(odd) {  
    padding: 21px;  
    background: #E3E3E3;  
    border: 1px solid #d7d7d7;  
  
    /* Border-radius not implemented yet */  
    -moz-border-radius: 11px;  
    -webkit-border-radius: 11px;  
} 
section#comments article:nth-child(even) {  
    padding: 21px;  
    background: #d7d7d7;  
    border: 1px solid #E3E3E3;  
  
    /* Border-radius not implemented yet */  
    -moz-border-radius: 11px;  
    -webkit-border-radius: 11px;  
}
#challengeHeader a{
    color: #1D62A3;
}
#fileButton{
    visibility: hidden;
}
#evaluateButton{
    visibility: hidden;
}
#styledButton{
    display:block;
}