// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.rules{
  position: relative;
  
  ul{
    margin-top: 10px;
    
    li{
      margin-top: 20px;
    }
  }
}
div#youtube-vid
{
  text-align:center;
  margin: 20px;
}
#homepage-content{
  text-align:center;
}
