<h1>This is a Tutorial Page</h1>
<h3>Write a Function that combines two numbers</h3><br>

<textarea rows="10" id="code_snippet" name="code_snippet">Function MattWatson(num1,num2)






End Function</textarea>


<br><br>
<%= submit_tag :Submit,  :onClick => "return showAlert();", :id => "submit_button" %>
	

   
<br><br>
  <div id="countdown"> <h3>The first clue will display in <b><div class="timer" id="timer">00:00</div> </b></h3></div>

<div id="tip1" style="display:none"> <h3>Clue #1</h3>
<b> Use MattWatson = num1+num2</b>
</div>
  <div id="countdown2" style="display:none"> <h3>The second clue will display in <b><div class="timer" id="timer2">00:00</div> </b></h3></div>  
<div id="tip2" style="display:none"> <h3>Clue #2</h3>
<b> Really?!? Clue 1 wasn't enough??</b>
</div>
<script>

var w = null; // initialize variable

// function to start the timer
window.onload = startTimer();
function startTimer()
{
   // First check whether Web Workers are supported
   if (typeof(Worker)!=="undefined"){
      // Check whether Web Worker has been created. If not, create a new Web Worker based on the Javascript file simple-timer.js
      if (w==null){
         w = new Worker("simple-timer.js");
      }
      // Update timer div with output from Web Worker
      w.onmessage = function (event) {
         document.getElementById("timer").innerHTML = event.data;
      };
   } else {
      // Web workers are not supported by your browser
      document.getElementById("timer").innerHTML = "Sorry, your browser does not support Web Workers ...";
   }
}

// function to stop the timer
function stopTimer()
{
   w.terminate();
   timerStart = true;
   w = null;
}
</script>

<script>
	setTimeout(function(){
$( "#countdown" ).fadeOut( "slow", function() {
    $( "#tip1" ).fadeIn( "slow", function() {
    	stopTimer();
	document.getElementById("timer").id = "oldTimer";
	document.getElementById("timer2").id ="timer";
	
	$( "#countdown2" ).fadeIn( "slow", function() {
	 	startTimer();
		setTimeout(function(){
			$( "#countdown2" ).fadeOut( "slow", function() {
				$( "#tip2" ).fadeIn( "slow", function() {
				});
			});
		},29000);
	 });
    }); 
});
 
},29000);
function showAlert2(){
	var num1;
	var num2;
	num1 = 54;
	num2 =32;
	var textValue = document.getElementById('code_snippet');
	var functionHeader = "textValue.value";
	eval(textValue.value);
	eval("var results = MattWatson(num1,num2)");
		
	if (results == num1 + num2){
		alert("Success:  You have succesfully completed this challenge");
	}else{
		alert("Failure: You have failed to complete this challenge");
	}
	
	
}
</script>


<script type="text/vbscript">
Function showAlert()
num1 =433
num2 = 513
Set textArea = document.getElementById("code_snippet")
msgbox(textArea.value)
Execute(textArea.value)
execute("results = MattWatson(num1,num2)")
msgbox (results)
End Function
</script>

