<h3> Submit Solution</h3>         <br>
<button onClick="clickFileButton()" class="btn btn-primary btn-lg">
	Select File
</button>
<button onClick="clickSubmitButton()" class="btn btn-primary btn-lg">
	Submit
</button>
<p id="filePath"></p>
<%= form_tag({:controller => :october, action: :result},multipart: true,:id => "submissionForm") do %>
<%= file_field_tag 'script', :id => "fileButton", :onChange => "getFilePath()" %>

<%= submit_tag 'Evaluate', :id => "evaluateButton" %>
<% end %>